.hero-header {
    width: 100%;
    min-width: 288px;
    min-height: 850px;
    background-image: url(./assets/img/myCoverTablet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative; /* Ensure the container positions elements relative to it */
    overflow: hidden;
  }