:root{
  /*Colores*/
  --black-jl: #282929;
  --grey-jl: #303030;
  --red-jl: #CD0000;
  --white-jl: #ffffff;
}

/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: none;
}
/* End Universal Selector */

/* HTML & Body Selector */
html{
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
    scroll-behavior: smooth;
}

body {
  overflow: auto;
  background-color: var(--black-jl);
}
/* End HTML Selector */

/* Start Visual Content */
/* 1. Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 80px;
  background-color: var(--grey-jl);
  padding: 20px;
  z-index: 1000;
}

/* 1.1. logo vectore image */
.logo img{
  width: auto;
  height: 15px;
}

/* 1.2. Menu */
.menu-container{
  display: none;
}
/*End Menu */

/* 1.3. Mobile Menu Icon  */
.icon-menu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: .5rem;
  background-color: var(--white-jl);
}

.bar--1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar--3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

/*  Mobile Menu Icon  */

.mobile-menu-container{
  display: none;
}




main{
  width: 100%;
  height: auto;
}

/* 2.1 Header Title Container */
.header--img-container {
  margin-top: 80px;
  width: 100%;
  min-width: 288px;
  height: 82vh;
  background-image: url(./assets/img/portadax1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}



.header--img-container .overlay {
  margin-top: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.05);
}

.header--img-container .overlay {
  position: relative;
  z-index: 1;
}

.header--img-container h3 {
  font-family: 'Raleway', sans-serif;;
  /* font-style: italic; */
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #ffffff;
}

.header--img-container p {
  margin-top: -5px;
  font-family: 'Raleway', sans-serif;;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  color: #ffffff;
}

/* 2.2 Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}

.social-icon {
  margin: 0 10px;
}

.social-icon img {
  width: 30px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
}

/* End Header Image Container */
/* End Main Container */

.horizontal-line {
  border: none;
  border-top: 10px solid var(--grey-jl);
}


/* 2 INDIVIDUAL DISTINCTION Container */

.header--qoute-container{
  min-width: 288px;
  height: 475px;
  background-color: #e8e8e8;

}

/* 2.1 Eyes Animation BOX */

.eyes--animation-box{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.loader {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.loader::after,
.loader::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0%);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
}
@keyframes eyeMove {
  0%,
  10% {
    background-position: 0px 0px;
  }
  13%,
  40% {
    background-position: -15px 0px;
  }
  43%,
  70% {
    background-position: 15px 0px;
  }
  73%,
  90% {
    background-position: 0px 15px;
  }
  93%,
  100% {
    background-position: 0px 0px;
  }
}
@keyframes blink {
  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
    height: 48px;
  }
  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
    height: 18px;
  }
}

.header--qoute-text {
  display: flex;
  width: auto;
  height: 50PX;
  justify-content: center;
  margin-top: 10PX;
  flex-direction: column;
  align-items: center;
}


.header--qoute-text h3 {
  margin-top: 260px;
  font-family: 'Raleway', sans-serif;
  width: auto;
  font-size: 3.2rem;
  text-align: center;
}

.remark{
  font-family: 'Raleway', sans-serif;;
  width: auto;
  font-size: 2.0rem;
  color: var(--red-jl);
}

.header--qoute-text h4 {
  font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 0 16px;
    text-align: center;
}

.remark2{
  font-family: 'Raleway', sans-serif;;
  font-size: 1.6rem;
  margin-top: 3px;
  color: var(--red-jl);
}

.header--qoute-text p {
    margin: 0 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.header--qoute-text p:nth-of-type(2) {
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.header--qoute-text p:nth-of-type(3) {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-align: center;
}


.personaldistinction--container{
  min-height: 288px;
  height: 350px;
  background-color: var(--black-jl);

}